.Card{
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 450px;
    max-width: 450px;

}
.Card .Title{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}
.Card .Content{
    background-color: white;
    color: black;
    padding: 10px;
    flex-grow: 1;
}