.Contador{
    display: inline-block;
    justify-content: center;
}
.Contador input{
    font-size: 1.4rem;
    width: 80px;
    border-style: none;
    text-align: center;
    background-color: rgb(5, 124, 1);
}

.Contador button{
    margin: 15px;
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 50%;
    background-color: #05bdbd;
    color: white;
    font-size: 1.4rem;
}

.Contador .Passo{
    border-radius: 10px;
    border: 0px solid wheat;
    width: 100%;
    background-color: rgb(5, 124, 1);
}
